<tool name="Tester">  <version>4.1.0</version>  <date>2019-08-20</date>  <container>#._Tester</container>  <needs>    <script>APLTreeUtils</script>    <script>FilesAndDirs</script>    <script>OS</script>    <script>IniFiles</script>    <script>WinSys</script>  </needs>  <autoload>1</autoload>  <buildid>32</buildid>  <scriptOnly>1</scriptOnly></tool>