<tool name="Tester">  <version>5.1.0</version>  <date>2019-10-31</date>  <container>#.Tester</container>  <needs>    <script>APLTreeUtils</script>    <script>FilesAndDirs</script>    <script>OS</script>    <script>IniFiles</script>    <script>WinSys</script>  </needs>  <autoload>1</autoload>  <buildid>39</buildid>  <scriptOnly>1</scriptOnly></tool>